/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main-container
{
	.row-style{
  padding:40px;
  text-align:center;
}
.margin-input-right{
	margin-right:50px;
}
.example-button-row {
    position: fixed;
    bottom: 80px;
    right: 20%;
    z-index: 10;
}
.btn-default{
	    background:#FF0000;
		color:#fff;
}
.subtitle-header{
	position:absolute;
	right:1%;
	top:2%;
}

/*progressbar css */
.loaderCntnr {
    position: absolute;
    z-index: 1001;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mat-spinner {
      circle {
        stroke: #fff !important;
      }
    }
  }
  /** scroll Bar css only in chrome**/
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #607d8b;
    border-radius: 10px;
    visibility: hidden;
  }

  ::-webkit-scrollbar-track:hover {
    visibility: visible;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #607d8b;
    border-radius: 10px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #607d8b;
  }
}